<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/concursosDB</property>
    <property name="hibernate.connection.username">nmlosada</property>
    <property name="hibernate.connection.password">siisa1234</property>
<!--    <property name="current_session_context_class">thread</property>-->
<!--    <property name="hibernate.hbm2ddl.auto">update</property>-->
    <mapping resource="dominio/mappings/Postulante.hbm.xml"/>
    <mapping resource="dominio/mappings/Cargo.hbm.xml"/>
    <mapping resource="dominio/mappings/Persona.hbm.xml"/>
    <mapping resource="dominio/mappings/Profesion.hbm.xml"/>
    <mapping resource="dominio/mappings/UnidadDeOrganizacion.hbm.xml"/>
    <mapping resource="dominio/mappings/TipoUsuario.hbm.xml"/>
    <mapping resource="dominio/mappings/TribunalJurado.hbm.xml"/>
    <mapping resource="dominio/mappings/Resolucion.hbm.xml"/>
    <mapping resource="dominio/mappings/Expediente.hbm.xml"/>
    <mapping resource="dominio/mappings/Tribunal.hbm.xml"/>
    <mapping resource="dominio/mappings/Usuario.hbm.xml"/>
    <mapping resource="dominio/mappings/Localidad.hbm.xml"/>
    <mapping resource="dominio/mappings/Establecimiento.hbm.xml"/>
    <mapping resource="dominio/mappings/Institucion.hbm.xml"/>
    <mapping resource="dominio/mappings/Concurso.hbm.xml"/>
    <mapping resource="dominio/mappings/Personal.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
